*{
    margin:0;
    padding:0;
}

nav{
    background-color: black;
    color:white;
    padding:15px;
}

h1,ul,li{
    display:inline;
}

ul{
    margin-left: 74%;
}

li{
    color: gray;
    cursor:pointer;
}

li:hover{
    color:white;
}

input{
    width:60%;
    padding:15px;
}

.searchbar{
    text-align:center;
    margin-top:15px;
}

input[type="text"]::placeholder{
    font-size: 20px;
}

.box{
    margin-top: 20px;
    border-color: black;
    border-width:2px;
    border-style:solid;
    display: inline-block;
    width:220px;
    cursor: pointer;
}

.products{
    text-align: center;
}

.box:hover{
    background-color: black;
    color: white;
}

.about{
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.contect{
    text-align: center;
    color:white;
    background-color:black;
    margin-top: 30px;;
    padding:40px;
    font-size: 20px;
}


